LAN_IP=10.61.21.143
KC_DB_NAME=keycloak
KC_DB_USER=keycloak
KC_DB_PASSWORD=change-me-strong-password
KC_HOSTNAME=sso.example.com
KC_BOOTSTRAP_ADMIN=admin
KC_BOOTSTRAP_ADMIN_PASSWORD=change-me-admin
PG_EXPORTER_USER=monitoring
PG_EXPORTER_PASSWORD=change-me-pg-readonly
